<a href="https://colab.research.google.com/github/EstherAbayomi07/S_tar/blob/main1/SECTION_23_Build_a_SQLite_database_with_Python_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#SECTION 23

import sqlite3

In [ ]:
connection = sqlite3.connect("pets.db")

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor

In [ ]:
query = '''CREATE TABLE IF NOT EXISTS Pet (
  id INTEGER, 
  name VARCHAR(20), 
  gender VARCHAR(1), 
  dob DATE
  ownerId INTEGER

); '''  #three quotation marks beginningamd ednding the code is for multilines code 
#for a single line, single quotation mark to begin and end is okay

cursor.execute(query)

In [ ]:
query = ''' INSERT INTO Pet
            (id, name) 
            values(1, "Muffin") 
'''

cursor.execute(query)

In [ ]:
connection.commit()

In [ ]:
query = 'SELECT * from Pet'

In [ ]:
cursor.execute(query)

In [ ]:
result = cursor.fetchall()

In [ ]:
result

[(1, 'Muffin', None, None)]

In [ ]:
print(result)

[(1, 'Muffin', None, None)]

In [ ]:
query = ''' INSERT INTO Pet
            (id)
            values(2)
            
'''

cursor.execute(query)

result = cursor.fetchall()

result

[]

In [ ]:
query = ''' INSERT INTO Pet
            (id, name, gender)
            values(3, "spot", "F")
            '''

In [ ]:
cursor.execute(query)

In [ ]:
select_all_pets_query = ''' SELECT * 
                            from Pet 
                         '''

cursor.execute(select_all_pets_query)

result = cursor.fetchall()

result

[(1, 'Muffin', None, None), (2, None, None, None), (3, 'spot', 'F', None)]

In [ ]:
query = ''' CREATE TABLE IF NOT EXISTS Owner
            (id INTEGER, 
            firstName VARCHAR(20),
            lastName VARCHAR(20),
            address VARCHAR(20),
            city VARCHAR(20),
            country VARCHAR(20),
            zipcode VARCHAR(10));
'''

cursor.execute(query)

query = ''' INSERT INTO Owner
            (id, firstName)
            values(1, "Alex");
'''

cursor.execute(query)

In [ ]:
query = 'SELECT * from Owner'

In [ ]:
cursor.execute(query)

result = cursor.fetchall()

result

[(1, 'Alex', None, None, None, None, None)]